fastapi
uvicorn[standard]
httpx
pydantic
pydantic-settings
# faster-whisper
# piper-tts
python-multipart
transformers
torch
librosa

# RAG dependencies
chromadb
sentence-transformers
huggingface-hub

# audio dependencies
soundfile
numpy
scipy
